<div class="footer-container background-color-secondary">
    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div class="footerSection">
            <div fxLayout="row wrap">
                <fb-like [ngStyle]="{'margin-right': '10px'}" >
                </fb-like>
                <a class="iconContainer" 
                [style.width]="'30px'" 
                [href]="getWhatsAppText()">
                    <img src="imgs/whatsApp.svg">
                </a>
            </div>
        </div>
        <div class="footerSection">
            &copy; 2018
        </div>
        <div class="footerSection clickable" (click)="openImprintDialog()">    
            <span [style.margin-right]="'10px'">
                <i18n i18n="@@dataProtection">dataProtection</i18n>
            </span>
            <span>
                <i18n i18n="@@imprint">imprint</i18n>
            </span>
        </div>
    </div>
</div>