<div class="footer-container background-color-secondary">
    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div class="footerSection">
            <div fxLayout="row wrap">
                <fb-like *ngIf="cookiesAccepted" [ngStyle]="{'margin-right': '10px'}" >
                </fb-like>
                <a class="iconContainer"
                [style.width]="'30px'"
                *ngIf="isMobile()"
                (click)="sendWhatsAppText()">
                    <img src="imgs/whatsApp.svg">
                </a>
            </div>
        </div>
        <div class="footerSection">
            &copy; 2018
        </div>

        <a class="footerSection clickable" href="https://www.mkffi.nrw/ministerium-fuer-kinder-familie-fluechtlinge-und-integration">
          <img src="imgs/mkffi.png" [style.height]="'35px'">
        </a>
        <div class="footerSection clickable" (click)="openImprintDialog()">
            <span [style.margin-right]="'10px'">
                <i18n i18n="@@dataProtection">dataProtection</i18n>
            </span>
            <span>
                <i18n i18n="@@imprint">imprint</i18n>
            </span>
        </div>
    </div>
</div>
