
<div [style.max-height]="'80vh'" [style.word-break]="'break-word'">
    <div fxLayout="column" fxlayoutGap="20">
        <h2>Redaktionelle Hinweise</h2>
        Alle redaktionellen Inhalte (Angebote, Textinhalte, etc.) dieser Website
        sind geistiges Eigentum und obliegen der Verantwortlichkeit der
        erstellenden und edierenden Personnen bzw. rechtlichen Körper.

        <h2>Erfassung allgemeiner Informationen</h2>
        Wenn Sie auf unsere Webseite zugreifen, werden automatisch Informationen
        allgemeiner Natur erfasst. Diese Informationen beinhalten etwa die Art
        Ihres Webbrowsers, Ihr verwendetes Betriebssystem, Ihre IP Adresse und
        Ähnliches. Hierbei handelt es sich ausschließlich um Informationen,
        welche keine Rückschlüsse auf Ihre Person zulassen. Diese Informationen
        sind technisch notwendig, um von Ihnen angeforderte Webinhalte korrekt
        auszuliefern und fallen bei Nutzung des Internets zwingend an. Anonyme
        Informationen dieser Art werden von uns statistisch ausgewertet, um
        unseren Internetauftritt und die dahinterstehende Technik zu optimieren
        und vor Schäden zu bewahren.

        <h2>Verwendung von OpenStreeMap</h2>
        Diese Webseite verwendet OpenStreetMap zur Darstellung der Landkarten.
        Durch Ihre Nutzung werden somit Daten von Ihnen an die OpenStreetMaps
        Foundation übermittelt.  Nähere Informationen über die Datenverarbeitung
        durch die OpenStreeMap Foundation können Sie den entsprechenden
        Datenschutzhinweisen entnehmen.

        <h2>Nutzerrechte</h2>
        Als Nutzende unserer Webseite haben Sie jederzeit die Möglichkeit uns
        gegenüber die Ihnen durch den Gesetzgeber zugesicherten Rechte geltend
        zu machen. Hierzu wenden Sie Sich bitte an den oben genannten
        Ansprechpartner für Datenschutz.
    </div>

    <div fxLayout="column">
        <h2>Datenschutzbestimmungen</h2>
        Darüber hinaus können Sie Sich (gem. Art. 77 DSGVO) im Beschwerdefall an
        eine entsprechende Aufsichtsbehörde wenden. Die Zuständigkeit richtet
        sich nach Bundesland, Arbeitsbereich und mutmaßlichem Verstoß. Für
        weitere Informationen und Beratung konsultieren Sie bitte die
        Dienststelle der Bundesbeauftragten für den Datenschutz und die
        Informationsfreiheit.

        <h2>Änderung unserer Datenschutzbestimmungen</h2>
        Wir behalten uns vor, diese Datenschutzerklärung jederzeit anzupassen,
        damit stets allen aktuellen rechtlichen Anforderungen entsprochen wird
        oder um sie an Funktionserweiterungen dieser Applikation anzupassen.
        Für Ihren Besuch gilt stets die aktuellste Datenschutzerklärung.
    </div>
    <button mat-fab 
        color="primary"
        [style.position]="'absolute'"
        [style.top]="'20px'"
        [style.right]="'20px'"
        (click)="close()">X</button>
</div>