#publicContainer {
    min-height: 100vh !important;
}

#logo {
    margin: 0px auto;
    height: 100px;
}

#logoSmall {
    height: 50px;
    margin-top: 5px;
}

#navbar {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 25px;
}

img#login {
    width: 50px;
    margin: 0px 30px;
}

#navbarHeader{
    margin-top: 10px;
    position: relative;
    margin-bottom: 15px;
    z-index: 10;
}

#navbra-responsive {
    width: 100%;
}

.footer-container {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    bottom: 20px;
    position: relative;
    margin-top: 20px;
}

.footerSection {
    min-width: 50px;
}

#cookiesInfo * {
  font-size: 10px;
}
