#logo {
    // width: 20%;
    margin: 0px auto;
    height: 100px;
}

#logoSmall {
    height: 50px;
    margin-top: 5px;
}

#navbar {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
}

img#login {
    width: 50px;
    margin: 0px 30px;
}

#navbarHeader{
    margin-top: 10px;
    position: relative;
    margin-bottom: 15px;
}

#navbra-responsive {
    width: 100%;
}