<div id="publicContainer" fxLayout="column" fxLayoutAlign="space-between none">
    <navbar-component></navbar-component>
    <router-outlet></router-outlet>
    <footer-component
      [style.margin-bottom]="showCookiesInfo ? '80px' : ''"
      [style.margin-top]="'20px'">
    </footer-component>
    <div *ngIf="showCookiesInfo"
      id="cookiesInfo"
      [style.background-color]="'gray'"
      [style.color]="'white'"
      [style.position]="'fixed'"
      [style.z-index]="'10'"
      [style.width]="'100%'"
      [style.bottom]="'0px'">
      <div [style.width]="'100%'"
        [style.text-align]="'center'">
        <div>
          Wir verwenden Cookies, um das Teilen von Inhalten auf
          Facebook zu ermöglichen.
        </div>
        &nbsp;
        <button mat-button class="clickable"
          [style.color]="'white'"
          (click)="acceptCookies(true)">Einverstanden</button>
        &nbsp;
        <button mat-button [style.color]="'white'"
        class="clickable" (click)="acceptCookies(false)">Nein</button>
      </div>
    </div>
</div>
