<div id="navbarHeader">
    <!-- desktop version renders as horizontal navbar -->
        <div fxHide.lt-md="true" fxLayout="column">
            <div fxLayoutAlign="space-around center">
                <img id="logo" src="imgs/Logo_bunt_cmyk.svg">
            </div>
            <div id="navbar" fxFlex="100">
                <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center">

                    <div fxLayout="row" fxLayout.lt-md="column" fxFlex="60" fxLayoutAlign="space-around center">
                        <span *ngFor="let routeLink of routeLinks; let i = index;" class="nav-item" [routerLink]="routeLink.link" routerLinkActive="color-primary"
                        [routerLinkActiveOptions]="{exact: true}">
                            <a mat-button (click)="activeLinkIndex = i">
                                {{routeLink.label}}
                            </a>
                        </span>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-around center">
                        <search-input></search-input>
                        <img id="login" mat-button [matMenuTriggerFor]="menu" src="imgs/account.svg">
                        <mat-menu #menu="matMenu">
                            <button *ngFor="let route of getAccountRoutes()" [routerLink]="route.link" mat-menu-item>{{route.label}}</button>
                        </mat-menu>
                    </div>
                </div>
            </div>
        </div>


    <!-- responsive version is mat-expansion-panel -->
        <mat-accordion fxHide fxShow.lt-md="true" id="navbra-responsive">
            <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header class="background-color-secondary">
                <mat-panel-title>
                    <div><img id="logoSmall" src="imgs/Logo_bunt_rgb.svg"></div>
                </mat-panel-title>
                <mat-panel-description>
                        <fa-icon class="collapsableIndicator" icon="bars"></fa-icon>
                </mat-panel-description>        
            </mat-expansion-panel-header>
    
            <mat-toolbar color="secondary">
                <mat-toolbar-row *ngFor="let routeLink of routeLinks; let i = index;" class="nav-item" [routerLink]="routeLink.link" routerLinkActive="background-color-primary"
                [routerLinkActiveOptions]="{exact: true}" (click)="activeLinkIndex = i">
                        {{ routeLink.label }}
                </mat-toolbar-row>
                <mat-toolbar-row>
                    <search-input></search-input>
                </mat-toolbar-row>
                <mat-toolbar-row *ngFor="let route of getAccountRoutes()" [routerLink]="route.link">
                    {{ route.label }}
                </mat-toolbar-row>
            </mat-toolbar>
        </mat-expansion-panel>
    </mat-accordion>
</div>