
<div fxLayout="row wrap" *ngIf="entity">
  <ng-container *ngIf="entity.likes != undefined">
    <span (click)="like()" class="iconContainer">
        <fa-icon icon="heart" class="color-primary clickable"></fa-icon>
    </span>
    <span class="color-primary" [style.marginRight]="'10px'">{{entity.likes}}</span>
  </ng-container>
    <fb-like *ngIf="cookiesAccepted" [ngStyle]="{'margin-right': '10px'}" ></fb-like>
    <a class="iconContainer"
    *ngIf="isMobile()"
    (click)="sendWhatsAppText()">
        <img src="imgs/whatsApp.svg">
    </a>
</div>


