<mat-card class="activityCardSmall clickable"
  (click)="openActivityView()"
  *ngIf="activity && activity.category"
  [ngStyle]="{'background-color' : activity.category.color}">
  <mat-card-content [style.height]="'100%'">
    <div [style.height]="'100%'" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="5px">
      <div fxLayout="column" fxLayoutAlign="end">
        <div class="smallText">
          <div [style.fontWeight]="'bold'" *ngIf="activity.schedules && activity.schedules[0]">
            {{ getNextdate(activity.schedules()) }}
          </div>
          <div *ngIf="activity.address && activity.address.suburb" id="suburbField">
            {{ activity.address.suburb.name }}
          </div>
        </div>
        <div class="activityCardName">
          {{ activity.name }}
        </div>
      </div>
      <img [style.position]="'absolute'"
        [style.right]="'10px'"
        [style.top]="'10px'"
        src={{getCategoryImageURI(activity.category.id)}}
        class="categoryIcon">
    </div>
  </mat-card-content>
</mat-card>
