<ng-container *ngIf="activities">
  <div id="activityList">
    <div fxLayout="row wrap">
      <div fxFlex="100" 
        fxLayout="row wrap" 
        id="activity-filter" 
        fxLayout.xs="column" 
        fxLayoutAlign="space-between center" 
        fxLayoutGap="10px">
        <mat-chip-list>
          <mat-chip *ngFor="let category of categories" 
            [ngStyle]="{'background-color' : category.color}">
            {{category.name + ' ' + category.color}}
          </mat-chip>
        </mat-chip-list>
        <mat-form-field>
          <mat-select placeholder="Quartiere">
            <mat-option *ngFor="let suburb of suburbs" [value]="suburb">
              {{suburb.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Zielgruppe">
            <mat-option *ngFor="let targetGroup of target_groups" [value]="targetGroup.name">
              {{targetGroup.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        
      </div>
      <div id="activitiesContainer" 
        fxFlex="66" 
        fxLayout="row wrap" 
        fxFlex.lt-md="100">
        <div class="activityCard" 
          fxLayoutAlign="space-around" 
          fxFlex.xs="100" 
          *ngFor="let activity of activities">
          <activity-card 
            (mouseenter)="showOnMap(activity)" 
            (mouseleave)="resetHighlighting()" 
            [activity]="activity">
          </activity-card>
        </div>
      </div>
      <div fxHide.lt-md="true" id="map-container">
        <mapping-component [activities]="activities" 
          (hoveredActivities)="handleMapHover($event)">
        </mapping-component>
      </div>
    </div>
    <mat-chip id="mapIcon" 
      color="primary" 
      selected 
      fxHide 
      fxShow.lt-md="true">
        <fa-icon icon="map-marker" (click)="navigateToMap()"></fa-icon>
    </mat-chip>
  </div>
</ng-container>
