mat-card {
  border-radius: 5px;
  width: 260px;
}

.activityCardName {
  font-size: 25px;
  font-family: Open Sans, Bold;
}

#suburbField {
  word-wrap: break-word;
}

.smallText {
  max-width: 50%;
}

.categoryIcon {
  filter: brightness(0) invert(1);
  height: 60px;
}

.activityCardSmall {
  color: white;
  height: 150px;
}