<div *ngIf="activity" id="activityDetail">
  <div fxLayout="column" fxLayoutGap="20px">
    <h3 class="color-primary">{{ activity.name }}</h3>
    <mat-chip-list>
      <mat-chip id="category"
      [ngStyle]="{'background-color':activity.category.color}">
        {{ activity.category.name }}
      </mat-chip>
    </mat-chip-list>
    <div>
      <span *ngFor="let targetGroup of activity.targetGroups" class="color-primary">
        {{targetGroup.name}}
      </span>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
      <div fxFlex="60" fxLayout="column">
        <p>{{ activity.description }}</p>
        <div>
          <social-media-component *ngIf="activity"
          [entity]="activity"
          [modelName]="'ActivityModel'">
          </social-media-component>
        </div>
      </div>
      <div fxFlex="40" fxFlex.lt-md="100" fxLayout="column">
        <mat-card id="actDateTimePanel">
          <mat-card-content fxLayout="column">
            <div fxLayout="row">
              <div *ngIf="activity.address && activity.address.suburb" fxFlex="50" fxFlexAlign="start">
                <p mat-line>
                  {{ activity.address.suburb.name }}
                  {{ activity.address.street }}
                  {{ activity.address.houseNumber }}
                </p>
                <p mat-line>
                  {{ activity.address.postalCode }}
                  {{ activity.address.place }}
                </p>
              </div>
              <img src="imgs/map.png"
                  class="clickable"
                  fxFlex="50"
                  fxFlexAlign="start"
                  (click)="openBottomSheetMap()">
            </div>
            <div *ngIf="activity.schedules && activity.schedules.length"
              fxLayout="row"
              class="clickable"
              (click)="openBottomSheetSchedules(activity.schedules)">
              <div fxLayout="column" id="addressCard">
                <div fxLayout="row">
                  <span>{{ getNextdate(activity.schedules[0].startDate) }}</span>
                  <fa-icon id="calendar-icon" icon="calendar-alt"></fa-icon>
                </div>
                <div>
                  {{ getNextdateTime(activity.schedules[0].startDate) }}
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
      <div *ngIf="activity.organisation" fxFlex="60" fxLayout="column">
        <div>
          <div>
            <h4 class="color-primary">{{ activity.organisation.name }}</h4>
          </div>
          <div>
            <div>{{ activity.organisation.description }}</div>
          </div>
        </div>
      </div>
      <div fxFlex="40" fxFlex.lt-md="100">
        <div *ngFor="let blog of activity.blogs" fxLayout="column" >
          <blog-list-item [blog]="blog" class="blogCard background-color-secondary">
          </blog-list-item>
        </div>
      </div>
    </div>
  </div>
</div>
