#activitiesContainer{
  position: relative;
  height: 110%;
}

html, body{
  position:relative;
  margin:0;
  padding:0;
}

::-webkit-scrollbar {
  display: none;
}

#map-container {
    height: 95vh;
    top: 20px;
    width: 30%;
    margin-left: auto;
    position: sticky;
    position: -webkit-sticky;
    align-self: flex-start;
}

#mapIcon{
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1;
}

#activityList {
  width: 90%;
  margin: auto;
}

::ng-deep mat-card {
  margin: 10px;
}
