<ng-container *ngIf="projection && longitude && latitude">
	<aol-map [attr.id]="fullScreen ? 'fullScreen' : ''"  (onClick)="onClick($event)">
		<aol-interaction-default>
		</aol-interaction-default>

		<aol-view enableRotation [zoom]="zoomfactor">
			<aol-coordinate [srid]="projection" [x]="longitude" [y]="latitude">
			</aol-coordinate>
		</aol-view>

		<aol-layer-tile>
			<aol-source-osm>
			</aol-source-osm>
		</aol-layer-tile>

		<aol-layer-vector>
			<ng-container *ngIf="!!activities.length">
				<aol-source-cluster [distance]="clusterspan">
					<aol-source-vector [overlaps]="true">
						<ng-container>
							<aol-feature *ngFor="let i of activities" [id]="i.id">
								<aol-geometry-point>
									<aol-coordinate
										[srid]="projection"
										[x]="i.address.longitude"
										[y]="i.address.latitude">
									</aol-coordinate>
								</aol-geometry-point>
							</aol-feature>
						</ng-container>
					</aol-source-vector>
				</aol-source-cluster>
			</ng-container>
		</aol-layer-vector>
		<mat-chip id="listIcon" 
			color="primary" 
			*ngIf="fullScreen" 
			selected>
			<fa-icon icon="list" 
				(click)="toListView()">
			</fa-icon>
		</mat-chip>
	</aol-map>
	<div [style.position]="'absolute'"
		[style.top]="fullScreen ? '10vh' : '0px'"
		[style.width]="'100%'"
		*ngIf="!disableCarousel && selectedActivities && selectedActivities.length">
		<activity-carousel-component [activities]=selectedActivities>
		</activity-carousel-component>
	</div>
</ng-container>