<div class="blogListItem" fxLayout="column" fxLayoutAlign="space-around" fxFlex="100">
    <div fxLayout="row" fxLayoutAlign="space-between"><div>{{getDate(blog.created)}}</div><div>{{blog.author}}</div></div>
    <div class="color-primary blogTitle">{{blog.title}}</div>
    <!-- <div *ngIf="(blog.activity | async) as activity" class="activityTitle" (click)="openActivityView()">{{activity?.name}}</div> -->
    <div>{{blog.content.substring(0, 200) + '...'}}</div>
    <span (click)="openBlogView()">
        <a><i18n i18n="@@readMore">readMore</i18n></a>
    </span>
</div> 