<div id="blog-container" 
    *ngIf="blog" 
    fxLayout="column" 
    fxLayoutAlign="space-between">
    <div class="color-primary blogTitle">
        {{blog.title}}
    </div>
    <div>{{blog.created}}</div>
    <div id="authorContainer">{{'Autor: ' + blog.author}}</div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
        <div class="blogTextContainer background-color-secondary">
            {{blog.content}}
        </div>
        <!-- <div class="blogActivityContainer" *ngIf="(blog.activity | async) as activity">
            <activity-card [activity]="activity"></activity-card>
        </div> -->
    </div>
</div> 