<div class="blogListItem" fxLayout="column" fxLayoutAlign="space-around" fxFlex="100">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between">
        <div>{{getDate(blog.created)}}</div>
        <div>{{blog.author}}</div>
    </div>
    <div class="color-primary blogTitle" (click)="openBlogView()">{{blog.title}}</div>
    <div *ngIf="blog.activity" class="activityTitle" (click)="openActivityView()">
        <i18n i18n="@@activity">activity</i18n>{{': ' + blog?.activity?.name}}
    </div>
    <div>{{blog.content.substring(0, 200) + '...'}}</div>
    <span (click)="openBlogView()" class="clickable color-primary" [style.font-weight]="'bold'">
        <a><i18n i18n="@@readMore">readMore</i18n></a>
    </span>
</div> 