.activityTitle {
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
}

#blog-list {
    width: 90%;
    margin: 0 auto;
}

.blogTitle {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
}