<div id="blog-container" *ngIf="blogs">
    <h2>
        <i18n i18n="@@latestBlogPosts">latestBlogPosts</i18n>
    </h2>
    <div id="blogContainer" 
        fxLayoutGap="50px" 
        fxLayout="column" 
        *ngFor="let blog of blogs">
        <blog-list-item [blog]="blog">
        </blog-list-item>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center">
            <button mat-stroked-button 
                [disabled]="pageNumber == 0" 
                color="primary" 
                (click)="previousPage()">
                &lt;
            </button>
            {{pageNumber + 1 + ' / ' + totalPages}}
            <button mat-stroked-button 
                [disabled]="!moreEntriesExist()" 
                color="primary" 
                (click)="nextPage()">
                &gt;
            </button>
        </div>
</div>