<mat-expansion-panel class="background-color-secondary topicExpansionPanel"
  *ngIf="topic"
  hideToggle
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title [style.fontSize]="'25px'">
        {{topic.name}}
    </mat-panel-title>
    <fa-icon icon="plus" [ngClass]="panelOpenState ? 'indicatorOpen' : 'indicatorClosed'"></fa-icon>
  </mat-expansion-panel-header>
  <div fxLayout="column" fxLayoutAlign="space-around stretch" *ngIf="topic.pages.length; else nothingFound">
    <pages-list [pages]="topic.pages"></pages-list>
  </div>
  <ng-template #nothingFound>
      <i18n i18n="@@noResults" [style.width]="'100%'"
      [style.text-align]="'center'">noResults</i18n>
  </ng-template>
</mat-expansion-panel>
