<div [style.margin]="'auto'" 
    [style.width]="'90%'">
    <i18n i18n="@@worthKnowing" class="h2">worthKnowing</i18n>
    <div fxLayout="column" fxLayoutAlign="space-around stretch" *ngIf="topics"> 
        <div class="background-color-secondary"
            [style.font-size]="'30px'"
            [style.margin-top]="'20px'"
            [style.padding]="'15px'"
            [style.border-radius]="'5px'"
            fxLayout = "row"
            fxLayoutAlign="space-between stretch"
            *ngFor="let topic of topics"
            (click)="openTopic(topic.id)">
            <div>
                {{topic.name}}
            </div>
            <div>
                <fa-icon icon="plus"></fa-icon>
            </div>
        </div>
    </div>
</div>