<main>
  <section>
    <aside>
      <h2 class="mat-headline">
        {{ name | async }} &mdash;<br>
        <i18n>newActivities</i18n>
      </h2>
      <strong class="mat-title">
        {{ tagline }}
      </strong>
      <nav>
        <ng-container *ngFor="let item of activities">
          <activity-card [item]="item"></activity-card>
        </ng-container>
      </nav>
    </aside>
  </section>
  <section>
    <article class="mat-title" [innerHTML]="content"></article>
    <aside>
      <figure>
        <video controls>
          <source src="videos/intro.mp4" type="video/mp4">
        </video>
        <figcaption>
          <fa-icon icon="poo"></fa-icon>
          <strong class="mat-title">
            <i18n i18n="@@videoError">videoError</i18n>
          </strong>
        </figcaption>
      </figure>
    </aside>
  </section>
  <section>
    <figure>
      <img
        alt="Ministerium für Kinder, Familie, Flüchtlinge und Integration"
        src="images/ministry.png"
        title="Ministerium für Kinder, Familie, Flüchtlinge und Integration">
      <figcaption class="mat-body-strong">
        <a
          href="https://www.mkffi.nrw"
          target="_blank"
          title="Ministerium für Kinder, Familie, Flüchtlinge und Integration">
          MKFFI NRW
        </a>
      </figcaption>
    </figure>
    <figure>
      <img
        alt="Stadt Wuppertal Ressort Jugend und Freizeit"
        src="images/municipality.png"
        title="Stadt Wuppertal Ressort Jugend und Freizeit">
      <figcaption class="mat-body-strong">
        <a
          href="https://www.wuppertal.de/microsite/jugend_freizeit"
          target="_blank"
          title="Stadt Wuppertal Ressort Jugend und Freizeit">
          Ressort Jugend und Freizeit
        </a>
      </figcaption>
    </figure>
    <figure>
      <img
        alt="Institut für Digital Humanities der Universität zu Köln"
        src="images/university.png"
        title="Institut für Digital Humanities der Universität zu Köln">
      <figcaption class="mat-body-strong">
        <a
          href="http://idh.uni-koeln.de"
          target="_blank"
          title="Institut für Digital Humanities der Universität zu Köln">
          Institut für Digital Humanities
        </a>
      </figcaption>
    </figure>
  </section>
</main>
