<main>
  <section>
    <aside>
      <h2 class="mat-headline">
        {{ name | async }} &mdash;<br>
        <i18n i18n="@@newActivities">newActivities</i18n>
      </h2>
      <strong class="mat-title">
        {{ tagline }}
      </strong>
      <nav>
        <ng-container *ngFor="let item of activities">
          <activity-card [item]="item"></activity-card>
        </ng-container>
      </nav>
    </aside>
  </section>
  <section>
    <article>
      <marked-compat class="mat-title" [data]="'

## Wupp\'n\'go
Ob Zuhause, im Internetcafé oder auf dem Smartphone, das Wupp\'n\'go versorgt
Dich von überall mit den Infos zu den neusten Veranstaltungen in Wuppertal.
Einfach nach Kategorien, Stadtteilen oder Zielgruppen filtern und nur die
Veranstaltungen sehen, die Du gerade brauchst.

## Wieso, weshalb, warum...
Diese Seite ist ein Timer für Jugendliche und junge Erwachsene. Sie enthält eine
Übersicht über Veranstaltungen und Events in Wuppertal und über die Orte, an
denen sie stattfinden. Wir haben Wupp\'n\'go geschaffen, weil eine solche Seite
bisher fehlt. Sie soll Euch und uns informieren und Menschen zusammenbringen.
Den neu Zugezogenen möchte sie im Wuppertaler Alltag helfen. Wir sind ein Team
aus Jugendlichen und Erwachsenen, das diese Seite ehrenamtlich im Auftrag der
Stadt betreut und mit Inhalten füllt. Die Veranstalter setzen ihre Termine
selbst hier ein. Auch Ihr könnt ein Teil des Wupp\'n\'go-Teams werden!

      '"></marked-compat>
    </article>
    <aside>
      <figure>
        <video controls>
          <source src="/videos/intro.mp4" type="video/mp4">
        </video>
        <figcaption>
          <icon-compat icon="poo"></icon-compat>
          <strong class="mat-title">
            <i18n i18n="@@videoError">videoError</i18n>
          </strong>
        </figcaption>
      </figure>
    </aside>
  </section>
  <section>
    <figure>
      <img
        alt="Ministerium für Kinder, Familie, Flüchtlinge und Integration"
        src="/images/ministry.png"
        title="Ministerium für Kinder, Familie, Flüchtlinge und Integration">
      <figcaption class="mat-body-strong">
        <a
          href="https://www.mkffi.nrw"
          target="_blank"
          title="Ministerium für Kinder, Familie, Flüchtlinge und Integration">
          MKFFI NRW
        </a>
      </figcaption>
    </figure>
    <figure>
      <img
        alt="Stadt Wuppertal Ressort Jugend und Freizeit"
        src="/images/municipality.png"
        title="Stadt Wuppertal Ressort Jugend und Freizeit">
      <figcaption class="mat-body-strong">
        <a
          href="https://www.wuppertal.de/microsite/jugend_freizeit"
          target="_blank"
          title="Stadt Wuppertal Ressort Jugend und Freizeit">
          Ressort Jugend und Freizeit
        </a>
      </figcaption>
    </figure>
    <figure>
      <img
        alt="Institut für Digital Humanities der Universität zu Köln"
        src="/images/university.png"
        title="Institut für Digital Humanities der Universität zu Köln">
      <figcaption class="mat-body-strong">
        <a
          href="http://idh.uni-koeln.de"
          target="_blank"
          title="Institut für Digital Humanities der Universität zu Köln">
          Institut für Digital Humanities
        </a>
      </figcaption>
    </figure>
  </section>
</main>
