<div fxLayout="column" fxLayoutGap="50px" class="organisation-view-container" fxFlex="90" fxLayoutAlign="space-between">
    <h2>{{organisation.name}}</h2>
    <div fxLayout="row wrap" fxLayoutAlign.lt-md="space-around" fxLayoutAlign="space-between">
        <div fxFlex="20" fxFlex.lt-md="50" id="imagePreviewSection" *ngIf="images && images.length">
            <img (click)="openImagesPopUp()" class="previewImage" [src]="images[0]">
            <p class="smallText">Click for more pictures</p>
        </div>
        <div fxFlex="40" fxFlex.lt-md="100" fxFlexOrder.lt-md="3">{{organisation.description}}</div>
        <div fxFlex="30" fxLayout="column" fxFlex.lt-md="50" fxLayoutGap="20px" class="background-color-secondary organisation-contact-card">
            <div fxLayout="column" *ngIf="organisation.address">
                <div>{{organisation.address.name}}</div>
                <div>{{organisation.address.street}}</div>
                <div>{{organisation.address.houseNumber}}</div>
                <div>{{organisation.address.postalCode}}</div>
                <div>{{organisation.address.place}}</div>
            </div>
            <div fxLayout="column">
                <div *ngIf="organisation.phone"><a [href]="'tel:' + organisation.phone" target='_blank'>T: {{organisation.phone}}</a></div>
                <div *ngIf="organisation.mail"><a [href]="'mailto:' + organisation.mail" target='_blank'>E: {{organisation.mail}}</a></div>
            </div>
        </div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column">
        <div fxFlex="20" class="color-primary">
            <h3>Eingetragene Veranstaltungen</h3>
        </div>
        <div fxFlex="80" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="space-between">
            <div fxLayout="row" fxLayoutAlign="space-between" class="activityListItem" *ngFor="let activity of organisation.activities">
                <div>{{activity.name}}</div><span class="color-primary" (click)="openActivityView(activity.id)" >Zur Veranstaltung</span>
            </div>
        </div>
    </div>
</div>
