<mat-card *ngIf="organisation" (click)="openOrganisationView()" class="background-color-primary" fxLayout="column">
    <h2>{{organisation.name}}</h2>
    <div 
    organisation-cardfxLayout="row" 
    fxFlex="100" 
    fxLayoutAlign="space-between" 
    fxLayoutGap="20px grid">
        <div fxFlex="20">
            <img src="https://de.wikipedia.org/static/images/project-logos/dewiki.png">
        </div>

        <div fxFlex="60" fxLayout="column" fxLayoutGap="10px grid">
            <div fxLayout="column" *ngIf="organisation.address | async as address">
                <div>{{(address.suburb | async)?.name}}</div>
                <div>{{address?.street}}</div>
                <div>{{address?.houseNumber}}</div>
                <div>{{address?.postalCode}}</div>
                <div>{{address?.place}}</div>
            </div>
            <div fxLayout="column">
                <div>{{'T:' + organisation?.phone}}</div>
                <div>{{'E:' + organisation?.mail}}</div>
            </div>
        </div>
    </div>
</mat-card>
