.orga-list-collapse-header .mat-expansion-panel-header-title,
.orga-list-collapse-header .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.orga-list-collapse-header .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.orga-list{
    position: relative;
    margin: 0px auto;
    width: 90%;
}

mat-expansion-panel-header {
    background: #FDF6E1;
}

mat-expansion-panel{
    margin: 20px auto;
    background: #F5F5F5;
}

organisation-card.orgaCard {
    margin: 20px;
}

.activityListItem {
    padding: 15px;
    border-radius: 5px;
    border: rgba(111,201,163, 0.3) 2px;
    background-color: rgba(111,201,163, 0.3);
}

.activityListItem div {
    font-size: 25px;
    font-weight: bold;
}

.organisation-view-container {
    margin: 0 auto;
}

.organisation-contact-card {
    padding: 30px;
    word-wrap: break-word;
    * {
        font-size: 15px;
    }
}

// .organisation-contact-card * {
//     max-height:inherit !important;
// }

.organisationCard {
    margin: 20px;
}


mat-card {
    width: 260px;
    height: 270px;
    // h2 {
    //     word-wrap: break-word; 
    //     // font-size: 30px;
    //     // font-size: 3.5vw;
    // }
}    

.previewImage {
max-width: 100%;
}

.videoContent {
    max-width: 90%;
    width: 80%;
    height: 150px;
    margin: 0px auto;
}