<mat-card *ngIf="organisation" (click)="openOrganisationView()" class="background-color-primary" fxLayout="column">
    <h2>{{organisation.name}}</h2>
    <div 
    organisation-cardfxLayout="row" 
    fxFlex="100" 
    fxLayoutAlign="space-between" 
    fxLayoutGap="20px grid">
        <div fxFlex="20">
            <img src={{getOrgaImg()}}>
        </div>

        <div class="organisation-contact-card" fxFlex="60" fxLayout="column" fxLayoutGap="10px grid">
            <div fxLayout="column" *ngIf="organisation.address">
                <div>{{organisation.address.name}}</div>
                <div>{{organisation.address.street}}</div>
                <div>{{organisation.address.houseNumber}}</div>
                <div>{{organisation.address.postalCode}}</div>
                <div>{{organisation.address.place}}</div>
            </div>
            <div fxLayout="column">
                <div>{{'T:' + organisation?.phone}}</div>
                <div>{{'E:' + organisation?.mail}}</div>
            </div>
        </div>
    </div>
</mat-card>
