.orga-list-collapse-header .mat-expansion-panel-header-title,
.orga-list-collapse-header .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.orga-list-collapse-header .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.orga-list{
    position: relative;
    margin: 0px auto;
    width: 90%;
}

mat-expansion-panel-header {
    background: #FDF6E1;
}

mat-expansion-panel{
    margin: 20px auto;
    background: #F5F5F5;
}

organisation-card.orgaCard {
    margin: 20px;
}

.activityListItem {
    padding: 15px;
    border-radius: 5px;
    border: rgba(111,201,163, 0.3) 2px;
    background-color: rgba(111,201,163, 0.3);
}

.activityListItem div {
    font-size: 25px;
    font-weight: bold;
}

.organisation-view-container {
    margin: 0 auto;
}

.organisation-contact-card {
    padding: 30px;
    word-wrap: break-word;
}

.organisation-contact-card * {
    max-height:inherit !important;
}

.organisationCard {
    margin: 20px;
    width: 500px;
}


mat-card {
    height: 350px;
    h2{
        word-wrap: break-word; 
    }
}    

.previewImage {
max-width: 100%;
}
  