<mat-card (click)="openOrganisationView()" class="background-color-secondary" fxLayout="column">
    <h2>{{organisation?.name}}</h2>
    <div 
    organisation-cardfxLayout="row" 
    fxFlex="100" 
    fxLayoutAlign="space-between" 
    fxLayoutGap="20px grid">
        <div fxFlex="40">
            <img [style.width]="'100%'" [src]="getOrgaImg()">
        </div>

        <div class="organisation-contact-card" fxFlex="60" fxLayout="column" fxLayoutGap="10px grid">
            <div fxLayout="column" *ngIf="organisation.address">
                <div>{{organisation?.address?.street}}</div>
                <div>{{organisation?.address?.houseNumber}}</div>
                <div>{{organisation?.address?.postalCode}}</div>
                <div>{{organisation?.address?.place}}</div>
            </div>
            <div fxLayout="column">
                <div>{{'T:' + organisation?.phone}}</div>
                <div>{{'E:' + organisation?.mail}}</div>
            </div>
        </div>
    </div>
</mat-card>
