<div fxLayout="column" fxLayoutGap="30px">
  
  <div fxLayout="column">
    <div class="header background-color-secondary">
      <div>
        <h2 id="headline">
          <i18n class="h2" i18n="@@newActivities">newActivities</i18n>
          <br>
            <i18n class="h2" i18n="@@inWuppertal">inWuppertal</i18n>
        </h2>
      </div>
      <div class="roundPin background-color-primary" fxHide.lt-md="true">
        <div id="landingPageBadge">
          {{portalSubtitle}}
        </div>
      </div>
    </div>
    <ng-container *ngIf="activities">
      <div id="activity-carousel" class="background-color-secondary">
        <activity-carousel-component [activities]="activities"></activity-carousel-component>
      </div>
    </ng-container> 
  </div>

  <div fxLayout="row" fxLayout.lt-md="column" 
    fxLayoutAlign="space-evenly center" [style.margin]="'10px'">
    <div fxFlex="45" fxFlex.lt-md="100">
      <h2>Wieso, weshalb, warum...</h2>
      <div>Diese Seite ist ein Timer für Jugendliche und junge Erwachsene. Sie enthält eine 
        Übersicht über Veranstaltungen und Events in Wuppertal und über die Orte, an denen 
        sie stattfinden. Wir haben Wupp’n’go geschaffen, weil eine solche Seite bisher fehlt. 
        Sie soll Euch und uns informieren und Menschen zusammenbringen. Den neu Zugezogenen möchte
        sie im Wuppertaler Alltag helfen. Wir sind ein Team aus Jugendlichen und Erwachsenen, das
        diese Seite ehrenamtlich im Auftrag der Stadt betreut und mit Inhalten füllt. Die 
        Veranstalter setzen ihre Termine selbst hier ein. 
        Auch Ihr könnt ein Teil des Wupp’n’go-Teams werden!
      </div>
    </div>
    <div fxFlex="45">
      <div id="introVideoContainer">
        <video width="100%" controls>
          <source src="videos/intro.mp4" type="video/mp4">
        <i18n i18n="@@noBrowserSupportVideo">noBrowserSupportVideo</i18n>
        </video>
      </div>
    </div>
  </div>

</div>
